
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.schedule-pane {
  background: white;
  border: 1px solid darkolivegreen;
  padding: 0px 8px 4px 4px;
  margin: 0;
  flex: 1 1 25%;
  min-height: calc(100vh - 1rem);
  max-height: calc(100vh - 1rem);
  overflow: auto;
}

.schedule-list {
  list-style: none;
  padding: 0;
}

.schedule-list li {
  border-bottom: 1px solid #aaa;
}

.schedule-item {
  border: none;
  background-color: transparent;
  padding: 1rem 0;
  font-size: 2rem;
  text-align: start;
  width: 100%;
}

.schedule-item p {
  margin: 0.5rem;
}

.schedule-item:active,
.schedule-item:hover {
  border: none;
  background-color: #efefef;
  text-decoration: none;
}

.schedule-item:focus {
  border: none;
  outline: none;
}

.schedule-item-selected {
  font-weight: bold;
}

.training-pane {
  background: white;
  border: 1px solid darkolivegreen;
  margin: 0px 0px 0px 2px;
  flex: 2 2 75%;
  min-height: calc(100vh - 1rem);
  max-height: calc(100vh - 1rem);
  overflow: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.training-pane-empty {
  justify-content: center;
}

.training-placeholder {
  font-size: 2rem;
  color: lightgray;
  text-align: center;
}

.training-header {
  display: grid;
  margin-bottom: 2rem;
}

.training-title-label {
  grid-column: 1;
  grid-row: 1;
  font-size: 1rem;
  margin: 0 1rem;
  text-align: start;
  color: lightgrey;
}

.training-title {
  grid-column: 1;
  grid-row: 2;
  font-size: 5rem;
  margin: 0rem 1rem;
  text-align: start;
  line-height: 100%;
}

.training-time-label {
  grid-column: 2;
  grid-row: 1;
  font-size: 1rem;
  margin: 0 1rem;
  text-align: end;
  color: lightgrey;
}

.training-time {
  grid-column: 2;
  grid-row: 2;
  font-size: 5rem;
  margin: 0 1rem;
  text-align: end;
  line-height: 100%;
}

.training-program-label {
  font-size: 1rem;
  margin: 0 1rem;
  text-align: start;
  color: lightgrey;
}

.training-progress {
  width: 100%;
}

.step-list {
  list-style: none;
}

.step-action {
  font-size: 2rem;
  padding: 0.5rem 1rem 0.5rem 2rem;
  text-align: start;
}

.step-value {
  font-size: 2rem;
  padding: 0.5rem 1rem 0.5rem 2rem;
  text-align: center;
}

.step-action-hdr {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-align: start;
}

.step-value-hdr {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-align: center;
}

.training-table {
  display: grid;
}

.tt-action-cell {
  grid-column: 1;
}

.tt-value-cell {
  grid-column: 2;
}

.start-button {
  background-color: rgb(2, 161, 23);
  font-size: 2rem;
  color: white;
  border-color: rgb(2, 161, 23);
  border-radius: 8px;
  padding: 2px 16px 4px;
  margin: 0.4rem;
  outline: none;
}

.cancel-button {
  background-color: white;
  font-size: 2rem;
  color: red;
  border-color: gray;
  border-radius: 8px;
  padding: 2px 16px 4px;
  margin: 0.4rem;
  outline: none;
}
